<div class="bs-component">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" routerLink="/">
          {{ title }}
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" routerLink="/jobs" routerLinkActive="active">Offres</a>
            </li>
            <li>
              <a href="#" routerLink="/jobs/add" routerLinkActive="active">Créer une offre</a>
            </li>
            <li>
              <a href="#" routerLink="/about" routerLinkActive="active">A propos</a>
            </li> 
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!authService.userIsLoggedIn()">
              <a href="#" routerLink="/login" routerLinkActive="active">Se connecter</a>
            </li>
            <li *ngIf="authService.userIsLoggedIn()">
              <a href="#" routerLink="/profile" routerLinkActive="active">Mon profil</a>
            </li>         
            <li *ngIf="authService.userIsLoggedIn()">
              <a href="#" (click)="authService.logOut()" routerLinkActive="active">Se déconnecter</a>
            </li>        
            <li *ngIf="!authService.userIsLoggedIn()">
              <a href="#" routerLink="/register" routerLinkActive="active">Créer un compte</a>
            </li> 
          </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid app-body">
  <router-outlet></router-outlet>
</div>



